{%extends "meal_planners/base.html" %}

{% block content %}

    <p>Edit Recipe</p>
    <p>Name: {{ recipe }}</p>
    <p>Description: 
    <form action="{% url 'meal_planners:edit_recipe' recipe.id %}" method = 'post'>
        {% csrf_token %}
        {{ form1.as_p }}
        {{ form2.as_p }}
        <button name = "submit">save changes</button>
    </form>
    <form action="{% url 'meal_planners:recipe' recipe.id %}">
        <input type="submit" value="cancel" />
    </form>
    <form action="{% url 'meal_planners:delete_recipe' recipe.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete recipe"/>
      </form>
    </p>

{% endblock content %}