{%extends "meal_planners/base.html" %}

{% block content %}
   
    <p>Recipe: {{ recipe }}</p>

    {% for description in descriptions %}
        <p>Description: {{ description.text|linebreaks }}</p>
        <p>
            <a href="{% url 'meal_planners:edit_recipe' recipe.id %}">Edit recipe</a>
        </p>
    {% empty %}
        <p>No description for this recipe</p>
        <p>
            <a href="{% url 'meal_planners:new_recipe_details' recipe.id %}">Add recipe details</a>
        </p>
    {% endfor %}

{% endblock content %}